@model AdminDashboardViewModel

@{
    Layout = "_Layout";
}
<div class="buttondiv">
    <a asp-action="Index"> Back to Dashboard </a>
</div>

<table class="admin-table">
    <tr>
        <th>@Html.DisplayNameFor(p => p.Orders[0].ID)</th>
        <th>@Html.DisplayNameFor(p => p.Orders[0].Date)</th>
        <th>Products purchased</th>
        <th>@Html.DisplayNameFor(p => p.Orders[0].Subtotal)</th>
        <th>UserName</th>
        <th></th>
    </tr>

    @foreach(Order order in Model.Orders)
    {
        <tr>
            <td>@order.ID</td>
            <td>@order.Date</td>
            <td>@order.Items.Count</td>
            <td>$@order.Subtotal</td>
            <td>@Model.Users.FirstOrDefault(u => u.Id == order.UserId).FirstName 
            @Model.Users.FirstOrDefault(u => u.Id == order.UserId).LastName</td>
            <td><a class="blk-button" asp-action="OrderDetail" asp-route-id="@order.ID">Detail</a></td>
        </tr>
    }
</table>
