@model BasketViewModels


@{
    Layout = "_Layout";
}


<h3>@TempData["PaymentError"]</h3>



@if (Model.Package.CartItem.Count == 0)
{
    <div style="text-align: center">Your cart is empty.</div>
    <div style="text-align: center"><a asp-controller="Shop" asp-action="Index">Get Started.</a></div>

}
else
{
    <table class="admin-table">
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(i => i.Package.CartItem[0].Product.Name)</th>
            <th>@Html.DisplayNameFor(i => i.Package.CartItem[0].Product.Quantity)</th>
            <th></th>
            <th>@Html.DisplayNameFor(i => i.Package.CartItem[0].Product.Price)</th>
            <th>@Html.DisplayNameFor(i => i.Package.CartItem[0].Cost)</th>
        </tr>

        @foreach (BasketItem item in Model.Package.CartItem)
        {

            <tr>
                <td><img src="@item.Product.Image" /></td>
                <td>@item.Product.Name</td>
                <td>
                    <form method="post" asp-action="CartPage">
                        <input type="hidden" asp-for="basketItemId" value="@item.Id" />
                        <input type="number" asp-for="basketItemQuantity" value="@item.Quantity" />
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>x</td>
                <td>@item.Product.Price</td>
                <td>$@item.Cost</td>
                <td><a class="red-button" asp-action="RemoveProduct" asp-controller="Basket" asp-route-id="@item.Id"> Remove </a></td>
            </tr>
        }

    </table>
    <h3 id="subtotal"> Total Cost: $@Model.Package.TotalCost</h3>


    <a class="blk-button" asp-action="Checkout" asp-controller="Shop" asp-route-id="@Model.Package.Id"> Place Order </a>
}

