@model CheckoutViewModel

@{
    Layout = "_Layout";
}


    <section>
        @foreach (var item in Model.Order.Items)
        {

            <div>
                <img src="@item.Product.Image" width="150px" />

                <p>@item.Product.Name</p>
                <p>@item.Quantity</p>
                <p> X </p>
                <p>$@item.Product.Price</p>
                <p> $ @item.Cost</p>
            </div>
        }
    </section>

    <div>
        <h3> Your Total: @Model.Order.Subtotal</h3>

            <form method="post">

                <h3> Shipping Address </h3>
                <div>
                    <div>
                        <label asp-for="@Model.Order.Address"></label>
                        <input type="text" asp-for="@Model.Order.Address" required />
                    </div>

                    <div>
                        <label asp-for="@Model.Order.City"></label>
                        <input type="text" asp-for="@Model.Order.City" required />
                    </div>

                    <div>
                        <label asp-for="@Model.Order.State"></label>
                        <input type="text" asp-for="@Model.Order.State" required />
                    </div>

                    <div>
                        <label asp-for="@Model.Order.Zipcode"></label>
                        <input type="text" asp-for="@Model.Order.Zipcode" required />
                    </div>
                </div>

                <h3>Billing Address</h3>
                <div>
                    <div>
                        <label asp-for="@Model.BillingStreet"></label>
                        <input type="text" asp-for="@Model.BillingStreet" required />
                    </div>

                    <div>
                        <label asp-for="@Model.BillingCity"></label>
                        <input type="text" asp-for="@Model.BillingCity" required />
                    </div>

                    <div>
                        <label asp-for="@Model.BillingState"></label>
                        <input type="text" asp-for="@Model.BillingState" required />
                    </div>

                    <div>
                        <label asp-for="@Model.BillingZipcode"></label>
                        <input type="text" asp-for="@Model.BillingZipcode" required />
                    </div>
                </div>

                <h3>Payment Information</h3>

                <div>
                    <label asp-for="CC"></label>
                    @(Html.DropDownListFor(p => p.CC, new SelectList(Enum.GetValues(typeof(CreditCard))), "Select Payment Method"))
                </div>

                <div>  
                    
                    <label asp-for="ExpireDate"></label>
                    <input type="text" asp-for="@Model.ExpireDate" required />
                </div>
                <button type="submit" asp-route-id="@Model.Order.ID"> Place Order Now </button>
            </form>



            <div>
                <a asp-action="CartPage" asp-controller="Shop"> Back </a>
            </div>
</div>



