@model DisplayProducts

@{
    Layout = "_Layout";
}



<section id="allproducts">
    @foreach (Product product in Model.Products)
    {
    <div class="card">
        <a asp-action="Detail" asp-controller="Shop" asp-route-id="@product.ID"><img src="@product.Image" alt="@product.Name image"></a>
        <div class="description">
            <a asp-action="Detail" asp-controller="Shop" asp-route-id="@product.ID"><h4>@product.Name</h4></a>
            <p>@product.Price.ToString("C")</p>
            <a asp-action="AddToCart" asp-controller="Basket" asp-route-productId="@product.ID">add to cart</a>
            <a asp-action="Detail" asp-controller="Shop" asp-route-id="@product.ID"><h5>detail</h5></a>
        </div>
    </div>
    <hr />
    }
</section>


<aside id="cart">
    @if (SignInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync("BasketComponent", UserManager.GetUserId(User));
    }
</aside>
